configuration{
    modi: "run";
    icon-theme: "Numix-Circle";
    font: "HackNerdDont 13";
    dmenu-icons: true;
    terminal: "wezterm";
    run-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    sidebar-mode: true;
    border-radius: 10;
}

@theme "~/.config/rofi/Themes/style-powermenu.rasi"
